:root{
    --primary: #46DB92;
    --primary-dark: #1F8F59;
    --highlighted: #6BFFB8;
    --secondary: #DB5846;
    --secondary-dark:#8F2011;
}

.btn {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 8px 20px;
  margin: 1rem 0;
  border-radius: 5px;  
  font-weight: bold;
}

.btn--basic {
  background: var(--primary);  
  border: 1px solid transparent;
}

.btn--outline {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 15px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 30px;
}

.btn--medium:hover,
.btn--large:hover {
  background:var(--highlighted);
  border-color:var(--highlighted);
  color: black;
  transition: all 0.3s ease-out;
}
