*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar{
  width:0.25rem;
}
body::-webkit-scrollbar-track{
  background: black;
}
body::-webkit-scrollbar-thumb{
  background: #46DB92;
}

